%h1 Host Details
%table
  %tr
    %td Report:
    %td= @host.report_id
  %tr
    %td Name:
    %td= @host.name
  %tr
    %td OS:
    %td= @host.os
  %tr
    %td Mac:
    %td= @host.mac
  %tr
    %td  Host Scan Start Time:
    %td= @host.start
  %tr
    %td Host Scan End Time:
    %td= @host.end
  %tr
    %td IP Address:
    %td= @host.ip
  %tr
    %td FQDN:
    %td= @host.fqdn
  %tr
    %td Net BIOS Name:
    %td= @host.netbios
  %tr
    %td System Type:
    %td= @host.system_type
  %tr
    %td Notes:
    %td= @host.notes

%h1 Findings
%h2 Critical Risks
- @host.items.critical_risks.each do |item|
  %p= "#{item.plugin_name}"

%h2 High Risks
- @host.items.high_risks.each do |item|
  %p= "#{item.plugin_name}"

%p
  %a{:href => url("/hosts")} Back to Hosts
