#content
  #dashboard-left
    %h2 Top 5 Vulnerable Hosts

    - Host.top_n_vulnerable(5).each do |host, count|
      %ul
        %li
          %a{:href => url("/host/#{host.id}")}= host.name
          = "- #{host.items.critical_risks.count} Critical Risks"
        
    %h2 Top 5 Vulnerabilities

    - Item.top_10_sorted[0...5].each do |item, count|
      %ul
        %li= "#{item} - #{count}"

  #dashboard-right
    %h2 Quick stats

    %table
      %tr
        %td Hosts
        %td Critical
        %td High
        %td Medium
        %td Low
        %td Info
      %tr
        %td= "#{Host.all.count}"
        %td= "#{Item.critical_risks.all.count}"
        %td= "#{Item.high_risks.all.count}"
        %td= "#{Item.medium_risks.all.count}"        
        %td= "#{Item.low_risks.all.count}"
        %td= "#{Item.info_risks.all.count}"

    %p
    
    %canvas#risks{:height => "300", :width => "400"}
    :javascript
      var g = new Bluff.Bar('risks', '400x300');
      g.title = 'Risks By Severity';
      g.tooltips = true;
      g.sort = false;
      g.set_theme({
          colors: ["purple", "red", "orange", "yellow", "blue", "green", "grey", "brown", "pink", "black"],
          background_colors: ['white', 'white']
        });
      
      crit = #{Item.critical_risks.count};
      high = #{Item.high_risks.count};
      medium = #{Item.medium_risks.count};
      low = #{Item.low_risks.count};
      info = #{Item.info_risks.count};
        
      g.data("Critical", crit, "purple");
      g.data("High", high, "red");
      g.data("Medium", medium, "orange");
      g.data("Low", low, "yellow");
      g.data("Open Ports", info, "blue");

      g.draw();


    