%h1 Items
%table
  %tr
    %td
      %b IP
    %td
      %b OS
    %td
      %b Critical
    %td
      %b High
    %td
      %b Medium
    %td
      %b Low
    %td
      %b Open Ports
    %td
      %b %

  - Risu::Models::Item.all.each do |item|
    %tr
      %td
        %a{:href => url("/host/#{host.id}")}= item.host_id
      %td= host.os.split(",")[0] if host.os != nil
      %td= host.items.critical_risks.count
      %td= host.items.high_risks.count
      %td= host.items.medium_risks.count
      %td= host.items.low_risks.count
      %td= host.items.info_risks.count
      %td %

%p
%a{:href => url("/reports")} Back to Reports
