<html>
	<head>
		<title><%= @title %></title>
	</head>
	
	<body>
		<!-- Header -->
		<p><center><%= @classification %></center></p>
		<p>&nbsp;</p>
		<p><center>Technical Summary</center></p>
		<p><center>Critical and High Findings</center></p>
		<p>&nbsp;</p>
		<p><center>This report was prepared by <%= @author %></center></p>
		<p>&nbsp;</p>
		<p>&nbsp;</p>
		<!-- Header End -->
		
		<% %>
		
		<!-- Findings -->
		<% findings_array.each do |h| %>
			<% if h[:values].length > 1 %>
				<p><%= h[:title] %></p>
				
				<% h[:values].each do |f| %>
					<% host = Host.find_by_id(f.host_id) %>
					<% plugin = Plugin.find_by_id(f.plugin_id) %>
					<% references = Reference.find(:all, :group => :value, :order => :reference_name, :order => :reference_name, :conditions => {:plugin_id => plugin.id}) %>
					
					<h2><%= plugin.plugin_name %></h2>
					<p><b>Host</b> <%= host.name %></p>
					<p>&nbsp;</p>
					
					<% if f.plugin_output != nil %>
						<p><b>Plugin output</b> <%= f.plugin_output %></p>
					<% end %>
					
					<% if plugin.description != nil %>
						<p><b>Description</b> <%= plugin.description %></p>
					<% end %>
					
					<% if plugin.synopsis != nil %>
						<p><b>Synopsis</b> <%= plugin.synopsis %></p>
					<% end %>										
					
					<% if plugin.cvss_base_score != nil %>
						<p><b>CVSS Base Score</b> <%= plugin.cvss_base_score %></p>
					<% end %>					
					
					<% if plugin.solution != nil %>
						<p><b>Solution</b> <%= plugin.solution %></p>
					<% end %>
					
			        <% if references.size != 0 %>
			          <p><b>References</b></p>
			          <% references.each { |ref| %>
			            <% ref_text = sprintf "%s: %s\n", ref.reference_name, ref.value %>
			            <%= ref_text %>
			          <% } %>			          
			        <% end %>
				<% end %>
			<% end %>
		<% end %>		
	</body>
</html>